<br>
<div class="row">
    <div class="col-md-5">
        <app-shopping-edit></app-shopping-edit>
    </div>
    <div class="col-md-6">
        <div>
            <label class="bt-section-label">
                Ingredients
            </label>
            <ul class="list-group">
                <a class="list-group-item" style="cursor: pointer;"
                    *ngFor="let ingredient of ingredients; let i=index" (click)="onEditItem(i)">
                    {{ingredient.name}}, {{ingredient.amount}} {{ingredient.count}}
                </a>
            </ul>
        </div>
    </div>
</div>